Data*/
Matched*/
MCMC*/
data/
data2/
TRASH/
Results/
checkpoints*/
config_files/
generated*/
Result*/
Plots*/
hp*
*.log
*.out
*.png
*.ipynb
*.pyc
*.csv
*.hdf5
*.txt
*.gwf
*.avi
*.pdf
*.eps
waveform*
env/
Overlap*
*.logs*
.vscode
